extends layout

block content
  .contenido-principal
    h1 #{title} - #{detailProject.name}

    form.agregar-tarea(action=`/projects/${detailProject.url}` method="POST")
      .campo
        label(for="task") Tarea: 
        input(type="text" name="task" placeholder="Nombre tarea" class="nombre-tarea")
      .campo.enviar
        input(type="submit", value="Agregar" class="boton nueva-tarea")

    //- TODO Listado pendeinte 

    .contenedor-acciones 
      a(href=`/projects/edit/${detailProject.id}` class="boton") Editar Proyecto 
      button(data-project-url=detailProject.url id="eliminar-proyecto" type="button" class="boton eliminar") Eliminar Proyecto 

